/*!
 * CSS for form component
*/



#library_list,
.hidden_gdi_course_content {
    display:none;
}

.clear {
    clear:both;
}
.hidden_gdi_course_content {
    margin-left:2em;
    font-size:14pt;
    text-transform:uppercase;
    margin-bottom:2em;
}